ai2thor==2.1.0
babyai.egg==info
babyai_text.egg==info
bitsandbytes==0.45.4
cffi==1.17.1
fast_downward_textworld==20.6.2
Flask==2.1.3
gevent==24.11.1
h5py==3.13.0
hashids==1.3.1
huggingface_hub==0.30.1
hydra-core==1.3.2
matplotlib==3.10.5
mementos==1.3.1
networkx==3.2.1
nltk==3.9.1
numpy==2.3.2
omegaconf==2.3.0
opencv_python==4.11.0.86
pandas==2.3.1
peft==0.15.1
Pillow==11.3.0
plotly==6.0.1
prompt_toolkit==3.0.50
prompt_toolkit==3.0.51
pybars3==0.9.7
pybullet==3.2.7
pycocotools==2.0.8
pytest==8.4.1
PyVirtualDisplay==3.0
PyYAML==6.0.2
PyYAML==6.0.2
safetensors==0.6.2
scipy==1.16.1
selenium==4.34.2
sentence_transformers==3.4.1
setuptools==78.1.0
spacy==3.8.5
sphinx_rtd_theme==3.0.2
TatSu==5.8.3
termcolor==3.1.0
textworld==1.6.2rc1
torch==2.4.0+cu118
torchvision==0.19.0+cu118
tqdm==4.67.1
transformers==4.47.1
urllib3==1.26.20
visdom==0.2.4
